body, html {
   font-family: "Coco Gothic",SF-UI-Display,"Helvetica Neue",Helvetica,"PingFang SC","Lantinghei SC","Microsoft Yahei","Hiragino Sans GB",Arial,sans-serif;
}
main {
   color: #4A4A4A;
   font-size: 1.6em;
   font-weight: 300;
   letter-spacing: .01em;
   line-height: 1.6;
   max-width: none;
   min-width: 32rem;
   margin: 0;
}
.container {
   padding-left: 5rem;
   padding-right: 5rem;
}
.container, body {
   margin-left: auto;
   margin-right: auto;
}
.contents {
text-align: center;
margin-bottom: 0.5cm;
}
#shopname{
font-size: 1.6em;
margin: 0;
}
#deliveryfee{
font-size: 0.5em;
color: gray;
margin:0;
}
